<%- include('./components/header')%>


<h4>Edit Question</h4>

<form method='POST' action=/question/edit/<%= result._id %>  id='question-form'>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">question</label>
      <input type="text" name='question' value=<%= result.question %>  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Description</label>
      <input type="text" name='description' value=<%= result.description  %> class="form-control" id="exampleInputPassword1">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


<%- include('./components/footer')%> 